// SIMPLE RESET
/* ----------------------------
simple reset
---------------------------- */

html, body, ul, ol, li, form, fieldset, legend
{
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p { margin-top: 0; }

fieldset,img { border: 0; }

legend { color: #000; }

li { list-style: none; }

sup { vertical-align: text-top; }

sub { vertical-align: text-bottom; }

table
{
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td
{
  text-align: left;
  vertical-align: top;
  font-weight: normal;
}

input, textarea, select
{
  font-size: 110%;
  line-height: 1.1;
}

abbr, acronym
{
  border-bottom: .1em dotted;
  cursor: help;
}

//IMPORTS

@import url(http://fonts.googleapis.com/css?family=Carrois+Gothic);
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);

// COLORS
$dark-purple: #1E152A;
$teal: #5ab1bb;
$grey-blue: #4e6766;
$green: #a5c882;
$yellow: #f7dd72;
$hopbush: #c69;
$white: #eef0f0;
$input-color: mix($grey-blue, $white, 10%);

// TYPE
$font-headers: 'Fjalla One', serif;
$font-copy: 'Carrois Gothic', sans-serif;

*, *:before, *:after {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

body {
  font-family: $font-copy;
  font-weight: 400;
  padding: 2em 10% 4em; //4em is footer height
  max-width: 1000px;
  margin: 0 auto;
  background: $white;
  min-height: 100%;
  position: relative;
}

h1, h2, h3 {
  font-family: $font-headers;
  font-weight: 700;
}

h1 {
  font-size: 3.5em;
  margin-bottom: .25em;
  color: $teal;
}

h2 {
  color: $grey-blue;
  font-family: $font-copy;
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 2px;
}

.subtitle {
  margin: -.8em 0 2em 0;
}

p {
  line-height: 1.5;
}

button, a {
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
}

a {
  color: $hopbush;

  &:hover,
  &:focus {
    color: mix($hopbush, $white, 50%)
  }
}

header {
  text-align: center;
}

label {
  color: $teal;
  text-transform: uppercase;
  font-weight: 800;
  width: 100%;
  display: block;
  margin: 1em 0 .5em;
}

input[type="radio"] {
  background-color: transparent;
  border: .15em solid $teal;
  border-radius: 50%;
  box-shadow: inset 0 0 0 0 $input-color;
  cursor: pointer;
  font: inherit;
  height: 1em;
  outline: none;
  width: 1em;
  -moz-appearance: none;
  -webkit-appearance: none;
  vertical-align: middle;
  margin-right: .25em;
  margin-left: .6em;

  &:checked {
    background-color: $teal;
    box-shadow: inset 0 0 0 .1875em $white;
    -webkit-transition: background .15s, box-shadow .1s;
    transition: background .15s, box-shadow .1s;
  }
}

radiogroup {
  margin-bottom: 1em;
  display: inline-block;
}

.check-area {
  display: inline-block;
  margin-bottom: 1em;
}

input[type="checkbox"] {
  background-color: transparent;
  border: .15em solid $teal;
  box-shadow: inset 0 0 0 0 $input-color;
  cursor: pointer;
  font: inherit;
  height: 1em;
  outline: none;
  width: 1em;
  -moz-appearance: none;
  -webkit-appearance: none;
  vertical-align: middle;
  margin-right: .25em;
  margin-left: .6em;

  &:checked {
    background-color: $teal;
    box-shadow: inset 0 0 0 .1875em $white;
    -webkit-transition: background .15s, box-shadow .1s;
    transition: background .15s, box-shadow .1s;
  }
}

button[type=submit] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: $teal;
  border: none;
  cursor: pointer;
  display: block;
  font-family: $font-copy;
  font-size: 1em;
  font-weight: 800;
  margin: 0 auto 1em;
  outline: none;
  padding: .5em;
  text-transform: uppercase;
  width: 100%;

  &:hover,
  &:focus {
    background: mix($teal, $grey-blue, 70%);
  }
}

textarea {
  border: none;
  outline: 2px solid $teal;
  background: $input-color;
  padding: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-height: 5.625em;
  max-height: 12.5em;
  font-family: monospace;
  width: 100%;
}

.logo {
  transform: rotate(5deg);
  max-width: 145px;
}

.half {
  width: 50%;
  float: left;
  display: block;
  padding: 2.5%;
}

@media (max-width: 750px) {
  .half {
    width: 100%;
  }
}

.notice {
  margin-top: 1em;
  display: block;
}

.container {
  position: relative;
}

footer {
  position: absolute;
  height: 2.5em;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.clear {
  clear: both;
}

.example-list {
  li {
  float: left;
  outline: 1px solid lightgrey;
  padding: 1em;
  margin: 1em 1em 0 0;
  }

  pre {
    background: white;
    padding: 1em;
    margin-top: 1em;
  }
}