// SIMPLE RESET
/* ----------------------------
simple reset
---------------------------- */

html, body, ul, ol, li, form, fieldset, legend
{
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p { margin-top: 0; }

fieldset,img { border: 0; }

legend { color: #000; }

li { list-style: none; }

sup { vertical-align: text-top; }

sub { vertical-align: text-bottom; }

table
{
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td
{
  text-align: left;
  vertical-align: top;
  font-weight: normal;
}

input, textarea, select
{
  font-size: 110%;
  line-height: 1.1;
}

abbr, acronym
{
  border-bottom: .1em dotted;
  cursor: help;
}

@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300);

// COLORS
$dark-purple: #1E152A;
$teal: #5ab1bb;
$grey-blue: #4e6766;
$green: #a5c882;
$yellow: #f7dd72;
$hopbush: #c69;
$white: #eef0f0;
$input-color: darken($white, 10%);

// TYPE
$font-headers: 'Montserrat', serif;
$font-copy: 'Merriweather', serif;

*, *:before, *:after {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: $font-copy;
  font-weight: 400;
  padding: 2em 10%;
  max-width: 1000px;
  margin: 0 auto;
  background: $white;
}

h1, h2, h3 {
  font-family: $font-headers;
  font-weight: 700;
}

h1 {
  font-size: 3.5em;
  margin-bottom: .25em;
  color: $teal;
  transform: rotate(-4deg);
}

h2 {
  color: $grey-blue;
  font-family: $font-copy;
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 1px;
  margin: -.8em 0 2em 0;
  text-align: right;
}

p {
  line-height: 1.5;
}

html {
  -webkit-font-smoothing: antialiased;
}

label {
  color: $teal;
  font-size: 80%;
  width: 100%;
  display: block;
  margin-top: 2em;
}

input[type="radio"] {
  background-color: transparent;
  border: .15em solid $teal;
  border-radius: 50%;
  box-shadow: inset 0 0 0 0 $input-color;
  cursor: pointer;
  font: inherit;
  height: 1em;
  outline: none;
  width: 1em;
  -moz-appearance: none;
  -webkit-appearance: none;
  vertical-align: middle;
  margin-right: .25em;
  margin-left: .6em;

  &:checked {
    background-color: $teal;
    box-shadow: inset 0 0 0 .1875em $white;
    -webkit-transition: background .15s, box-shadow .1s;
    transition: background .15s, box-shadow .1s;
  }
}

radiogroup {
  display: block;
  width: 30%;
  float: left;
}

.check-area {
  display: block;
  margin: 2.5em 0 1em;
}

input[type="checkbox"] {
  background-color: transparent;
  border: .15em solid $teal;
  box-shadow: inset 0 0 0 0 $input-color;
  cursor: pointer;
  font: inherit;
  height: 1em;
  outline: none;
  width: 1em;
  -moz-appearance: none;
  -webkit-appearance: none;
  vertical-align: middle;
  margin-right: .25em;
  margin-left: .6em;

  &:checked {
    background-color: $teal;
    box-shadow: inset 0 0 0 .1875em $white;
    -webkit-transition: background .15s, box-shadow .1s;
    transition: background .15s, box-shadow .1s;
  }
}

button[type=submit] {
  width: 50%;
  background: $teal;
  padding: 1em;
  font-family: $font-copy;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  cursor: pointer;
  display: block;
  width: 45%;
  font-size: 1.2em;
  padding: .25em;
  margin: 0 auto 1em;

  &:hover,
  &:focus {
    background: darken($teal, 5%);
  }
}

textarea {
  border: none;
  outline: none;
  width: 100%;
  color: $teal;
  background: $input-color;
  padding: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-height: 5.625em;
  max-height: 12.5em;
  width: 100%;
}

.logo {
  float: left;
  margin-right: 0em;
  transform: rotate(3deg);
  max-width: 110px;
}